<%= form_with(model: [:admin, product], local: true, class: "ui form") do |form| %>
  <% if product.errors.any? %>
    <ul class="list">
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <div class="ui left icon input">
      <%= form.text_field :name %>
      <i class="ui archive icon"></i>
    </div>
  </div>
  <div class="field">
    <%= form.label :price %>
    <div class="ui left icon input">
      <%= form.number_field :price %>
      <i class="ui money icon"></i>
    </div>
  </div>
  <div class="field">
    <%= form.label :premium_price %>
    <div class="ui left icon input">
      <%= form.number_field :premium_price %>
      <i class="ui money icon"></i>
    </div>
  </div>
  <% if product.images.attached? %>
    <div class="ui images">
      <% product.images.each do |image| %>
        <%= image_tag image.variant(combine_options: { resize: "100x100", auto_orient: true }), class: "ui image" %>
        <%= link_to 'delete', destroy_image_admin_product_path(product, image), method: :delete, class: "ui negative button" %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :images %>
    <div class="ui left icon input">
      <%= form.file_field :images, multiple: true %>
      <i class="ui upload icon"></i>
    </div>
  </div>
  <div class="actions">
    <%= form.submit create: "Create", update: "Update", class: "ui positive button" %>
  </div>
<% end %>
