<h1 class="ui header">Products</h1>
<% @products.each do |product| %>
  <div class="ui segment">
    <h2 class="ui header">
      <%= product.name %>
    </h2>
    <h2 class="ui sub header">Price</h2>
    <i class="dollar sign icon"></i>
    <%= product.price %>
    <% if product.images.attached? %>
      <div class="ui images">
        <% product.images.each_with_index do |image| %>
          <%= image_tag image.variant(combine_options: { resize: "100x100", auto_orient: true }), class: "ui image" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to 'Show', admin_product_path(product), class: "ui button" %>
    <%= link_to 'Edit', edit_admin_product_path(product), class: "ui button" %>
    <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button" %>
  </div>
<% end %>
<%= link_to 'New Product', new_admin_product_path, class: "ui positive button" %>
