<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<% if @product.images.attached? %>
  <p>
    <h2>Images</h2>
    <% @product.images.each_with_index do |image, i| %>
      <p>
        <%= link_to("image##{i}", rails_blob_path(image, disposition: "attachment")) %>
      </p>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
